.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.recipe {
    width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #ffe4e4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.Title {
    height: 10vh;
    margin: 10px;
    text-align: center;
    background-color: #4CD3C2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #fff;
} 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    align-items: center;
    background-color: #dcfde9;
} 
.recipe img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
.recipe h2 {
    margin-top: 10px;
    font-size: 20px;
}
  
.recipe p {
    margin-top: 5px;
    font-size: 16px;
}
  
.recipe:not(:last-child) {
    margin-bottom: 40px;
}
 
h1{
    align-items: center;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}